<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid homediv">
  <img src="images/mw.png" style="width: 110px; height: 80px; margin-right: 10px;margin-top: 15px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse homenav" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="mailto:someone@mail.com" onclick="window.location=another.html" >Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="register" style="background-color: #846bfb;border-radius: 40px; width:100px;text-align: center;color: #fff;">Sign Up</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>
<div class="content" style="margin-top: 50px ; margin-left: 30px;margin-right: 40px; margin-bottom:300px;">
<h2>About</h2>
<p style="line-height:2;">The COVID-19 has resulted in schools shut all across the world. Globally, over 1.2 billion children are out of the classroom. Consequently, a massive shift from classroom learning to distance learning occurred. Many universities turned to eLearning to provide educational continuity. Here are the some of the universities who developed competitive models of digital learning and adapted their curricula to online education methods to offer students some of the best distance learning courses possible University of California, Los Angeles (UCLA), New York University, Harvard University, Michigan State University, MIT OpenCourseWare, Stanford Online, etc.This is an educational website for the MGIT students to learn different subjects. Contents include tutorials (Video Lectures), references, examples, exercises, quizzes and online compiler. Website also provides certification with graded quizzes when authenticated. Using data-visualization the performance of the user is analyzed. User can see his/her results and performance in the dashboard.
</p>
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 MGITWebedu</p>
       <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="/login" class="nav-link px-2 ">Try it now</a></li>
      <li class="nav-item"><a href="mailto:someone@mail.com" onclick="window.location=another.html" class="nav-link px-2 ">Contact Us</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 ">About</a></li>
    </ul>
  </footer>
</div>
</body>
</html>