<div id="quiz"></div>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
<style type="text/css">
	body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #7386D5;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
</style>
<script type="text/javascript">
	(function(){
  function buildQuiz(){
    
    const output = [];

    
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        
        const answers = [];

        
        for(letter in currentQuestion.answers){

          
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }

        
        output.push(
          `<div class="question"> ${currentQuestion.question} </div>
          <div class="answers"> ${answers.join('')} </div>`
        );
      }
    );

    
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

   
    const answerContainers = quizContainer.querySelectorAll('.answers');

    
    let numCorrect = 0;

    
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      
      if(userAnswer === currentQuestion.correctAnswer){
        
        numCorrect++;

        
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      
      else{
        
        answerContainers[questionNumber].style.color = 'red';
      }
    });

    
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length} (`+(numCorrect/myQuestions.length)*100 +`%)`;
  }

  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  const myQuestions = [
    {
      question: "C programming is also known as _____programming language. ",
      answers: {
        a: "Described",
        b: "Popular",
        c: "Structured",
        d: "Object oriented"
      },
      correctAnswer: "c"
    },
    {
      question: " The design of personal computers permitting a high level of interaction between ______and _____",
      answers: {
        a: "User, Server",
        b: "User, computer",
        c: "Client, server",
        d: "Server, database"
      },
      correctAnswer: "c"
    },
    {
      question: "Many organizations connect personal computers to larger computers thus permitting their use either as stand-alone devices or as terminals within a computer network.",
      answers: {
        a: "True",
        b: "False"
        
      },
      correctAnswer: "a"
    },
        {
      question: "To process a set of data computer must be given an appropriate set of instructions called a _____",
      answers: {
        a: "Data",
        b: "Memory",
        c: "Program",
        d: "Syntax"
      },
      correctAnswer: "c"
    },    {
      question: "The input data that is processed by storing in computers memory gives desired results known as _____",
      answers: {
        a: "Final data",
        b: "Processed data",
        c: "Resulting data",
        d: "Output data "
      },
      correctAnswer: "d"
    },    {
      question: "The 0's and 1’s used for encoding memory known as _____ bits.",
      answers: {
        a: "Identity ",
        b: "Binary ",
        c: "Representative ",
        d: "Needy"
      },
      correctAnswer: "b"
    },    {
      question: "The size of computers memory is usually expressed as multiple of _____",
      answers: {
        a: "2^5 bytes",
        b: "3^16 bytes",
        c: "2^9 bytes",
        d: "1024 bytes"
      },
      correctAnswer: "d"
    },
     {
      question: "The time required to carry out simple computation task is usually expressed in terms of microseconds or nanoseconds. ",
      answers: {
        a: "True",
        b: "False"
      },
      correctAnswer: "a"
    }, {
      question: "A collection of detailed, cryptic instructions that control the computers internal circuitry is ",
      answers: {
        a: "C language ",
        b: "General-purpose language ",
        c: "Machine language ",
        d: "Instructions "
      },
      correctAnswer: "c"
    }, {
      question: "Which of the following is not a advantage of high level language over machine language ",
      answers: {
        a: "Simplicity ",
        b: "Randomness",
        c: "Uniformity ",
        d: "Portability "
      },
      correctAnswer: "b"
    }, {
      question: "A program that is return in high level language can be translated into machine language before its execution known as ___",
      answers: {
        a: "Interpretation ",
        b: "Decomposition ",
        c: "Decoding",
        d: "Reservation "
      },
      correctAnswer: "a"
    }, {
      question: "Who was the developer of c language _____",
      answers: {
        a: "Federico Faggin",
        b: "Stanley Mazor",
        c: "Edward Zwick",
        d: "Dennis Ritchie"
      },
      correctAnswer: "d"
    }, {
      question: "The program will always begin by executing _____ function ",
      answers: {
        a: "main",
        b: "Child ",
        c: "Void",
        d: "Head"
      },
      correctAnswer: "a"
    }, {
      question: ".____ are symbols that represent information being passed between the function and other parts of the program ",
      answers: {
        a: "Variables ",
        b: "Arguments",
        c: "Braces",
        d: "Pointers"
      },
      correctAnswer: "b"
    }    
  ];

  
  buildQuiz();

  
  submitButton.addEventListener('click', showResults);
})();
</script>