<link rel="stylesheet" href="css/styles.css">
Week 11 Resourses
<ul>
<li>Algorithm to find roots of a quadratic equation - https://www.tutorialspoint.com/how-to-write-a-c-program-to-find-the-roots-of-a-quadratic-equation
</li><br>
<li>Finding minimum and maximum in an array - https://www.enjoyalgorithms.com/blog/find-the-minimum-and-maximum-value-in-an-array
</li><br>
<li>Finding if a number is prime - https://www.w3schools.in/c-program/check-whether-the-given-number-is-a-prime/</li><br>
<li>Linear search - https://www.geeksforgeeks.org/linear-search/</li><br>
<li>Binary search - https://www.geeksforgeeks.org/binary-search/</li><br>
</ul>