<link rel="stylesheet" href="css/styles.css">
Week 2 Resourses
<ul>
<li>
Representation of Algorithm, Flowchart(https://www.tutorialspoint.com/what-is-an-algorithm-and-flowchart-in-c-language)
</li><br>
<li>
Program Design(https://www.tutorialspoint.com/cprogramming/c_program_structure.htm)
</li>
</ul>