<div id="quiz"></div>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
<style type="text/css">
	body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #7386D5;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
</style>
<script type="text/javascript">
	(function(){
  function buildQuiz(){
    
    const output = [];

    
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        
        const answers = [];

        
        for(letter in currentQuestion.answers){

          
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }

        
        output.push(
          `<div class="question"> ${currentQuestion.question} </div>
          <div class="answers"> ${answers.join('')} </div>`
        );
      }
    );

    
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

   
    const answerContainers = quizContainer.querySelectorAll('.answers');

    
    let numCorrect = 0;

    
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      
      if(userAnswer === currentQuestion.correctAnswer){
        
        numCorrect++;

        
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      
      else{
        
        answerContainers[questionNumber].style.color = 'red';
      }
    });

    
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length} (`+(numCorrect/myQuestions.length)*100 +`%)`;
  }

  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  const myQuestions = [
    {
      question: "In the following loop construct, which one is executed only once always.Â Â Â Â for(exp1; exp2; exp3)",
      answers: {
        a: " exp1",
        b: " exp3",
        c: " exp1 and exp3",
        d: " exp1, exp2 and exp3"
      },
      correctAnswer: "a"
    },{
      question: " The continue statement cannot be used with",
      answers: {
        a: "for",
        b: "while",
        c: "do-while",
        d: "switch"
      },
      correctAnswer: "d"
    },
{
      question: " Which keyword can be used for coming out of recursion?",
      answers: {
        a: " return",
        b: " break",
        c: " exit ",
        d: " both A and B "
      },
      correctAnswer: "a"
    }, 
{
      question: " go-to can be used to jump from main to within a function? ",
      answers: {
        a: "TRUE",
        b: "FALSE",
        c: "may be",
        d: "can’t say"
      },
      correctAnswer: "b"
    },
{
      question: " Which of the following is an invalid if-else statement? ",
      answers: {
        a: " if (if (a == 1)){}",
        b: ". if (a){}",
        c: ". if ((char) a){}",
        d: " if (func1 (a)){}"
      },
      correctAnswer: "a"
    }, 
{
      question: " Switch statement accepts.",
      answers: {
        a: " int",
        b: " char",
        c: " long ",
        d: " All of the above "
      },
      correctAnswer: "d"
    },
{
      question: " Which loop is guaranteed to execute at least one time. ",
      answers: {
        a: "for",
        b: "while",
        c: "do-while",
        d: "None of the above"
      },
      correctAnswer: "c"
    },
{
      question: " A  labelled statement consist of an identifier followed by ",
      answers: {
        a: ";",
        b: ":",
        c: ",",
        d: "="
      },
      correctAnswer: "b"
    }

  ];

  
  buildQuiz();

  
  submitButton.addEventListener('click', showResults);
})();
</script>