<link rel="stylesheet" href="css/styles.css">
Week 7 Resourses
<ul>
<li>
Commonly used Preprocessor commands like include, define, undef, if, ifdef, ifndef – 
https://www.tutorialspoint.com/cprogramming/c_preprocessors.htm 
</li><br>
<li>
<a href="resources/pps/week7.pdf">C - Preprocessors</a></li>
</ul>