<div id="quiz"></div>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
<style type="text/css">
	body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #7386D5;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
</style>
<script type="text/javascript">
	(function(){
  function buildQuiz(){
    
    const output = [];

    
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        
        const answers = [];

        
        for(letter in currentQuestion.answers){

          
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }

        
        output.push(
          `<div class="question"> ${currentQuestion.question} </div>
          <div class="answers"> ${answers.join('')} </div>`
        );
      }
    );

    
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

   
    const answerContainers = quizContainer.querySelectorAll('.answers');

    
    let numCorrect = 0;

    
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      
      if(userAnswer === currentQuestion.correctAnswer){
        
        numCorrect++;

        
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      
      else{
        
        answerContainers[questionNumber].style.color = 'red';
      }
    });

    
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length} (`+(numCorrect/myQuestions.length)*100 +`%)`;
  }

  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  const myQuestions = [
    {
      question: " The C pre-processor is a collection of special statements  called______ , that are executed at the beginning of the compilation process.",
      answers: {
       a: "directives ",
       b: "non-variables",                      
       c: "preprocessors",
       d: "None of these"
      },
      correctAnswer: "a"
    },{
      question: " which of the following is not a pre-processor directive ? ",
      answers: {
        a: "#elif",
        b: "#endif",
        c: "#ifelseif",
        d: "#else"
      },
      correctAnswer: "c"
    },
{
 question: ' The  #undef directive "undefines" a symbolic constant or a macro identifier; i.e., it negates the effect of a  #define directive that may have appeared earlier in the program.',
      answers: {
        a: " true",
        b: " false",
        c: " partially true",
        d: " all of the above"
      },
      correctAnswer: "a"
    },
{
      question: " The______ operator # allows a formal argument within a macro definition to be converted to a string. ",
      answers: {
        a: " sampling ",
        b: " stringizing",
        c: "concatenation",
        d: "joining"
      },
      correctAnswer: "b"
    },
{
      question: "How is the token-pasting operator represented ? ",
      answers: {
        a: " #",
        b: " -> ",
        c: " +",
        d: " ##"
      },
      correctAnswer: "d"
    },
{
      question: " What are the types of C Pre-processor Directives.? ",
      answers: {
        a: "Macros",
        b: "conditional compilation",
        c: "file inclusion",
        d: "All of the above"
      },
      correctAnswer: "d"
    },
{
      question: " Processor Directive in C language starts with.?",
      answers: {
        a: "@",
        b: "$",
        c: "#",
        d: "&"
      },
      correctAnswer: "c"
    },
{
      question: " What is the C Preprocessor directive to be used to add a header file or any file to existing C program.?",
      answers: {
        a: " #add",
        b: " #include",
        c: " #present",
        d: " #define"
      },
      correctAnswer: "b"
    },
{
      question: " A pre-processor is a program.",
      answers: {
        a: " That is nothing but a loader.",
        b: "That processes its input data to produce output that is used as input to another program.",
        c: " That is nothing but a loader .",
        d: " All of the mentioned."
      },
      correctAnswer: "b"
   }
  ];

  
  buildQuiz();

  
  submitButton.addEventListener('click', showResults);
})();
</script>