<!DOCTYPE html>
<html lang="en">
<head>
<title>Mgitwebedu</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="css/sidemenustyles.css">
<style type="text/css">
.navi{
  height: 100px;
}
.homenav a{
text-decoration: none;
color: black;
}
.homenav a:hover{

background-color: #846bfb;
color: black; 
border-radius: 40px;
}
.profile:hover {
  
background-color: #846bfb;

border-radius: 40px;

}
.profile{
  border-style: none;background-color: #fff;color:black;margin-top: 7px;padding: 2px;
}
</style>

</head>

<body>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
 
<div class="header">
  <nav class="navbar navbar-expand-lg navi">
  <div class="container-fluid homediv">
  <img src="images/mw.png" style="width: 110px; height: 80px; margin-right: 10px;margin-top: 15px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse homenav" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin-left: 1000px;">
          <a class="nav-link active" aria-current="page" href="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/enrolledcourses" >My Courses</a>
        </li>
        <li class="nav-item" >
          <form action="/profile" method="post"><button class="profile">Profile</button></form>
        </li>
        <li class="nav-item" >
          <a class="nav-link active " aria-current="page" href="/logout">Logout</a>
        </li>
        
        
      </ul>
     
    </div>
  </div>
</nav>
</div>




    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Course Navigation</h3>
            </div>

            <ul class="list-unstyled components">
                
                
                <li>
                  
                    <a href="#about" >About the course</a>
                    
                </li>
                <li>
                  
                    <a href="#obj">Course Objectives</a>
                    
                </li>
                <li>
                  
                    <a href="#out">Course Outcomes</a>
                    
                <li>
                  
                    <a href="#line" >Course Outine</a>
                    
                </li>
                <li>
                  
                    <a href="#ins">Instructors</a>
                    
                </li>
               
                
            </ul>

           
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                        <h2>English</h2>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       
                        
                    </div>
                    <form action="/engenroll" method="POST">
            <div class="form-group">
             
            </div>
             <input type="hidden" id="custId" name="coursename" value="English">
            
            <button type="submit" class="btn" style="background-color: #6d7fcc;color: #fff;margin-left: 700px;">Enroll</button>

          </form>
                </div>
            </nav>
           <div id="about"><h2>About the course</h2> 
            <p>Introduction to ‘The Raman Effect’ from the prescribed textbook ‘English for Engineers’ published by
Cambridge University Press, ‘Ancient Architecture in India’ from the prescribed textbook ‘English for Engineers’ published
by Cambridge University Press,Blue Jeans’ from the prescribed textbook ‘English for Engineers’ published by Cambridge
University Press,‘What Should You Be Eating’ from the prescribed textbook ‘English for Engineers’ published by
Cambridge University Press and ‘How a Chinese Billionaire Built Her Fortune’ from the prescribed textbook ‘English for
Engineers’ published by Cambridge University Press are all covered in this course. </p></div><br>
             
            <div id="obj">
             <h2>Course Objectives</h2><br>
            <ul>
              <li>
              Improve the language proficiency of students in English with an emphasis on Vocabulary, Grammar, Reading and Writing skills
              </li>
              <li>
              Equip students to study academic subjects more effectively and critically using the theoretical and practical components of English syllabus
              <li>
              Develop study skills and communication skills in formal and informal situations.
              </li>
              
            </ul>
          </div>
            <br>
            

            <div id="out">    
            <h2>Course Outcomes: The student will learn</h2><br>
            <ul>
              <li>
                Use English Language effectively in spoken and written form
              </li>
              <li>
                Comprehend the given texts and respond appropriately
              </li>
              <li>
               Communicate confidently in various contexts and different cultures 
              </li>
              <li>
              Acquire basic proficiency in English including reading and listening comprehension, writing and speaking skills
              </li>
             
            </ul>
            <br>
            </div>
            <div id="line">
            <h2>Course Outine</h2>
           <ul>
             <li>
              <b>Week  1 :</b> ‘The Raman Effect’ from the prescribed textbook ‘English for Engineers’ published by Cambridge University Press, Vocabulary Building: The Concept of Word Formation --The Use of Prefixes and Suffixes, Grammar: Identifying Common Errors in Writing with Reference to Articles and Prepositions.
             </li><br>
               <li>
              <b>Week  2 :</b>Reading: Reading and Its Importance- Techniques for Effective Reading. Basic Writing Skills: Sentence Structures -Use of Phrases and Clauses in SentencesImportance of Proper Punctuation- Techniques for writing precisely, Paragraph writing – Types, Structures and Features of a Paragraph - Creating Coherence-Organizing Principles of Paragraphs in Documents.
             </li><br>
               <li>
              <b>Week  3 :</b> ‘Ancient Architecture in India’ from the prescribed textbook ‘English for Engineers’ published by Cambridge University Press, Vocabulary: Synonyms and Antonyms, Grammar: Identifying Common Errors in Writing with Reference to Noun-pronoun Agreement and Subject-verb Agreement, Reading: Improving Comprehension Skills – Techniques for Good Comprehension , Writing: Format of a Formal Letter-Writing Formal Letters E.g.., Letter of Complaint, Letter of Requisition, Job Application with Resume. 
             </li><br>
               <li>
              <b>Week  4 :</b> ‘Blue Jeans’ from the prescribed textbook ‘English for Engineers’ published by Cambridge University Press, Vocabulary: Acquaintance with Prefixes and Suffixes from Foreign Languages in English to form Derivatives-Words from Foreign Languages and their Use in English, Grammar: Identifying Common Errors in Writing with Reference to Misplaced Modifiers and Tenses.
             </li><br>
               <li>
              <b>Week  5 :</b> Reading: Sub-skills of Reading- Skimming and Scanning, Writing: Nature and Style of Sensible Writing- Defining- Describing Objects, Places and Events – Classifying- Providing Examples or Evidence.
             </li><br>
               <li>
              <b>Week  6 :</b> ‘What Should You Be Eating’ from the prescribed textbook ‘English for Engineers’ published by Cambridge University Press, Vocabulary: Standard Abbreviations in English, Grammar: Redundancies and Clichés in Oral and Written Communication, Reading: Comprehension- Intensive Reading and Extensive Reading ,Writing: Writing Practices--Writing Introduction and Conclusion - Essay Writing-Précis Writing. 
             </li><br>
               <li>
              <b>Week  7 :</b>‘How a Chinese Billionaire Built Her Fortune’ from the prescribed textbook ‘English for Engineers’ published by Cambridge University Press, Vocabulary: Technical Vocabulary and their usage    
             </li><br>
               <li>
              <b>Week  8 :</b>Grammar: Common Errors in English, Reading: Reading Comprehension-Exercises for Practice Writing: Technical Reports- Introduction – Characteristics of a Report – Categories of Reports Formats- Structure of Reports (Manuscript Format) -Types of Reports - Writing a Report.
             </li><br>
        

           </ul>

             </div>  
            
            <div id="ins">
            <h2>Instructors</h2>
            <p>Dr. V A R</p>
          </div>
         <div class="container mt-5">
  </div>


            

           
        </div>
    

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });

    </script>
</body>

</html>
<%- include('partials/footer') %>