<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid homediv">
  <img src="images/mw.png" style="width: 110px; height: 80px; margin-right: 10px;margin-top: 15px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse homenav" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="mailto:someone@mail.com" onclick="window.location=another.html" >Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="register" style="background-color: #846bfb;border-radius: 40px; width:100px;text-align: center;color: #fff;">Sign Up</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>

<div class="div1">
  <div class="image1-text">
  <h1>MGIT<br>
  Webedu.</h1><p style="width: 300px;color:#707070; font-weight: 400;">We bring learning to people instead of people to learning.</p> 
  <h4><a class="nav-link active" aria-current="page" href="login" style="background-color: #846bfb; color: #fff;border-radius: 40px; width: 180px; text-align: center;" >TRY IT NOW</a></h4>
  </div>  
  <div class="image1">
  <img src="images/image1.png">
  </div>
</div>
<div class="div2">
  
  <div class="image2">
  <img src="images/image2.png">
  </div>
   <div class="image2-text">
    <h1>Video Lectures.</h1>
    <p style="width: 300px;color:#707070; font-weight: 400;">We provide video lectures for better conceptual understanding</p> 
  
  </div> 
</div>
<div class="div3">
  <div class="image3-text">
  <h1>Quizzes to Self Analyze</h1><p style="width: 300px;color:#707070; font-weight: 400;">We provide quizzes to enhance your learning experience</p> 

  </div>  
  <div class="image3">
  <img src="images/image3.png">
  </div>
</div>
<div class="div4">
  
  <div class="image4">
  <img src="images/image4.png">
  </div>
   <div class="image4-text">
    <h1>COURSES</h1>
    <p style="width: 300px;color:#707070; font-weight: 400;">Variety courses are provided to learn and excell.</p> 
  
  </div> 
</div>  
</body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 MGITWebedu</p>
       <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="/login" class="nav-link px-2 ">Try it now</a></li>
      <li class="nav-item"><a href="mailto:someone@mail.com" onclick="window.location=another.html" class="nav-link px-2 ">Contact Us</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 ">About</a></li>
    </ul>
  </footer>
</div>


</html>
